ul.memoryMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top:-3em;  
    padding: 0; 
}

ul.memoryMenu li {
    flex-grow: 2;
    margin:7px;  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;     
    text-align: center;

    
}

ul.memoryMenu li a {
    display: block;
    cursor: pointer;
    background: #ebebeb;
    height: 100%;
    text-align: center;
    padding: 26px 18px;
    border-right: solid 1px #ddd;
    font: 17px Raleway;
}

ul.memoryMenu li.active a {    
    background: #0b8964;
    color: #fff;
 
   
}